*{
  padding: 0;
  margin: 0
  font-family:sans-serif;
  box-sizing:border-box;
  
  
}

.container{
  width: 1175px;
  margin: auto;
}
.spec-flex{
	display:flex;
	justify-content:space-between;
}
.img-content img{
	width:90%;
	height:auto;
	position:relative;
}
.txt-content{
	width:50%;
	
	
}
.ico-flex{
    display:flex;
	flex-wrap:wrap; 
padding	
	
}
.ico-flex h4{
	font-size: 18px;
    margin-left: 16px;
    margin-top: 12px;
	
}
.ico-flex p {
	margin-left: 76px;
    margin-top: -24px;
	
	
}
.icon{
	margin-top: 7px;
	color: #8858e8;
	width:60px;
	height:60px;
	line-height:60px;
	background-color:#fff;
	border:1px solid #9F81DA;
	border-radius:100px;
	justify-content:center;
	text-align:center;
	align-items:center;
	font-size: 23px;
	
}
.img-logo{
	position:absolute;
	
    top: 250px;
    right: 978px;

	font-size: 54px;
color: blue;
}
.img-logo:hover{
	transform: scale(1.5);
	tr

} 

