*{
  padding: 0;
  margin: 0
  font-family:sans-serif;
  box-sizing:border-box;
  
  
}

.container{
  width: 1175px;
  margin: auto;
}
.head p,h2{
	text-align:center;
}
.head p{
	text-align:center;
}
.features-flex{
    display:flex;
	flex-wrap:wrap;	

}
.feat{
	width:360px;
	text-align:center;
	height:300px;
	box-shadow: 0 0 10px #999;
	margin-top:50px;
    margin-right:8px;
	margin-left:8px;
	
	
}
.icon{
    width: 50px;
    height: 50px;
	background-color:#5399DD;
	text-align:center;
	justify-content:center;
	position:relative;
	left:160px;
	display:flex;
	align-items:center;
	font-size:25px;
	margin-top:20px;
	color:aliceblue;
	
}
.txt h3{
	font-family:sans-serif;
	
}
.txt p{
  	font-family:sans-serif;
	padding-top:15px;
}
.txt i{
	display:flex;
	position:relative;
	left:223px;
    top: -31px;	
}
	
hr{
	height: 7px;
    background-color: blue;
    margin-top: 22px;
	
}